body {
  font-family: Calibri;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: #658ead;
}
a:visited {
  text-decoration: none;
  color: #658ead;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.container {
  padding: 5px;
}

.header {
  margin: 0px;
  text-align: center;
}

#timetable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#timetable th, #timetable td {
  border: 1px solid black;
  height: 95px;
  box-sizing: border-box;
  padding: 30px;
}

#timetable td.selected,
#timetable td.active {
  background-color: #eac4ff;
}